<!-- add_book.html -->
<!--
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_book</title>
    <link rel="stylesheet" href="{% static 'relationship_app/css/styles.css' %}">
</head>
<body>
    <h1>add_book</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">add_book</button>
    </form>
</body>
</html>
-->

<!-- add_book.html -->

{% extends 'base_generic.html' %}

{% block content %}
  <h2>Add a New Book</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Book</button>
  </form>
{% endblock %}

