<!-- blog/templates/blog/post_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create/Update Post</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Post</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>>
    </form>

    <a href="{% url 'post-list' %}">Back to Posts</a>
</body>
</html>
